@model WaterQM.Models.SensorReading

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SensorReading</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadingValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadingValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
